*{
  margin: 0;
  padding: 0;
}

body{
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  margin: 5%;
}

.header h1{
  font-weight: 900;
}

.input-field{
  border: none;
  height: 2rem;
  width: 250px;
  font-size: 1rem;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 30px 0;
}

button {
  margin-left: 20px ;
  background-color: #800000;

  color: white;
  height: 2rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  position: relative;
}
button:hover{
  background-color: #b80000;
}

li{
  font-size: x-large;
  padding: 5px 0;
}
#alltask{
  border: 2px solid black;
  padding: 3px 5px;
}
#alltask>h2{
  text-align: center;
}
#task-list {
  list-style: none;
}